/Debug/
/Release/
/Libs/SDL/freetype-2.5.5/objs/
/Libs/LuaJIT-2.0.3/luajit.vcxproj.user
/Libs/LuaJIT-2.0.3/src/host/buildvm_arch.h
/Libs/LuaJIT-2.0.3/src/*.obj
/Libs/LuaJIT-2.0.3/src/*.lib
/Libs/LuaJIT-2.0.3/src/luajit.exe
/Libs/LuaJIT-2.0.3/src/luajit.log
/Libs/LuaJIT-2.0.3/src/jit/vmdef.lua
/Libs/SDL/SDL2-2.0.3/VisualC/SDL/Win32/Debug/
/Libs/SDL/SDL2_ttf-2.0.12/VisualC/Win32/Debug/
/Libs/SDL/SDL2-2.0.3/VisualC/SDL/Win32/Release/
/Libs/SDL/SDL2_ttf-2.0.12/VisualC/Win32/Release/
/Libs/SDL2.lib
/Libs/SDL2_ttf.lib
/Libs/freetype.lib
/Libs/libpng.lib
/Libs/lpng151/projects/visualc71/Win32_LIB_Debug/
/Libs/lpng151/projects/visualc71/Win32_LIB_Release/
/Libs/luajit.lib
/Libs/luasocket/src/*.log
/Libs/luasocket/src/*.obj
/Libs/luasocket/src/*.lib
/Libs/*.lib
/UniMod2.vcxproj.user
/UniModNew.opensdf
/UniModNew.sdf
/*.suo
/ipch
/Libs/SDL/SDL2-2.0.8/VisualC/SDL/Win32/Release/
/Libs/SDL/SDL2-2.0.8/VisualC/SDL/Win32/Debug/
/Libs/SDL/SDL2_ttf-2.0.12/VisualC/Win32/Release/
/Libs/SDL/SDL2_ttf-2.0.12/VisualC/Win32/Debug/
/Libs/SDL/VQA/Debug/
/Libs/SDL/VQA/Release/
/Libs/VQA.lib
/Libs/SDL/VQA/Release/
/Libs/SDL/VQA/Debug/
